$brand-primary: $oc-blue-7 !default;
$brand-success: $oc-green-7 !default;
$brand-info:    $oc-blue-5 !default;
$brand-warning: $oc-yellow-7 !default;
$brand-danger:  $oc-red-7 !default;

$border-light:  1px solid $oc-gray-2;
$border-dark:  1px solid darken($oc-gray-8, 7.5%);
