<div class="panel panel-default" ng-repeat="site in $ctrl.sites" data-toggle="collapse" data-target="#{{ 'panel-' + $index }}" aria-expanded="false" aria-controls="{{ 'panel-' + $index }}">
    <div class="panel-heading" role="tab">
        <h4 class="panel-title">
            <!--a data-toggle="collapse" data-parent="#accordion" href="#{{ 'panel-' + $index }}" aria-expanded="true" aria-controls="collapseOne"-->
                {{ site.title }}
            <!--/a-->

            <div class="pull-xs-right">
                <status-element-component status="site.status" text="site.text"></status-element-component>
            </div>
        </h4>

        <span class="text-muted">{{ site.last_checked || 'Status pending' }}</span>
    </div>

    <div id="{{ 'panel-' + $index }}" class="panel-content panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <p>This monitor checks {{ site.url }} every 5 minutes. Typically, the website is online. Click here for more info.</p>

        <button class="btn btn-danger btn-large btn-block">Delete Monitor</button>
    </div>
</div>
