<div class="panel panel-default" ng-repeat="site in $ctrl.sites" data-toggle="collapse" data-target="#{{ 'panel-' + $index }}" aria-expanded="false" aria-controls="{{ 'panel-' + $index }}">
    <div class="panel-heading" role="tab">
        <h4 class="panel-title">
            <!--a data-toggle="collapse" data-parent="#accordion" href="#{{ 'panel-' + $index }}" aria-expanded="true" aria-controls="collapseOne"-->
                {{ site.title }}
            <!--/a-->

            <div class="float-xs-right">
                <status-element-component status="site.status" text="site.text"></status-element-component>
            </div>
        </h4>

        <div class="duration text-muted">
            <div ng-show="!site.checked">Status pending</div>
            <div ng-hide="!site.checked">Last checked <span am-time-ago="site.checked"></span></div>
        </div>
    </div>

    <div id="{{ 'panel-' + $index }}" class="panel-content panel-collapse p-t-1 collapse" role="tabpanel" aria-labelledby="headingOne">
        <p>This monitor checks <strong>{{ site.url }}</strong> every 5 minutes. Typically, the website is online. Click here for more info.</p>
    </div>
</div>
